[submodule "TakiMatrix/Libraries/googletest"]
	path = TakiMatrix/Libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "TakiMatrix/Libraries/googlebenchmark"]
	path = TakiMatrix/Libraries/googlebenchmark
	url = https://github.com/google/benchmark.git
